


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>开发部主管审批</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <h3>项目立项开发部部主管审批</h3>
        <input type="hidden" name="Id" v-model="Id" />
        <table class="table table-bordered" style="width:800px;">
            <tr>
                <td>
                    项目编码:&nbsp;&nbsp;
                    <input type="text" v-model="Code" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    申请人：&nbsp;&nbsp;
                    <input type="text" v-model="Applicant" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    项目名称：&nbsp;&nbsp;
                    <input type="text" v-model="Pname" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    项目类型：&nbsp;&nbsp;
                    <input type="text" v-model="Ptype" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    需求单号：&nbsp;&nbsp;
                    <input type="text" v-model="Requisitionid" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    发起部门：&nbsp;&nbsp;
                    <input type="text" v-model="Section" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    项目所属部门：&nbsp;&nbsp;
                    <input type="text" v-model="Department" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    是否为提前启动项目：&nbsp;&nbsp;
                    <input type="text" v-model="Starts" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    提前启动指令时：&nbsp;&nbsp;
                    <input type="date" v-model="Starttime"  readonly="readonly" style="border:0px;"/>
                </td>
                <td>
                    提前启动符号：&nbsp;&nbsp;
                    <input type="text" v-model="Letter" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    提前启动指令中费用额度：&nbsp;&nbsp;
                    <input type="text" v-model="Limits" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    请选择处理步骤:<select name="State">
                        <option value="0">--请选择--</option>
                    </select>


                </td>
            </tr>

            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="返回" v-on:click="Back()" />
                </td>
                <td>


                    <input type="button" value="同意" v-on:click="Agree()" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="驳回" v-on:click="DisAgree()" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        GetNodes();

    })
    //加载处理步骤
    function GetNodes() {
        $.ajax({
            url: "http://localhost:8086/GetNodeList",
            type: "get",
            success: function (data) {
                console.log(data)
                $(data).each(function (index,data) {
                    $("select[name=State]").append("<option value=\"" + data.Id + "\">" + data.NodeName + "</option>");
                })
            }
        })
    }
    //vue
    var vm = new Vue({
        el: "#app",
        data: {
            Id:@Request.QueryString["Id"],
            Code: "",
            Applicant: "",
            Pname: "",
            Ptype: "",
            Requisitionid: "",
            Section:"",
            Department: "",
            Starts: "",
            Starttime: "",
            Letter: "",
            Limits: "",
            Principal:""

        },
        mounted: function () {
            this.Get();
            
        },
        methods: {
            GetPrincipals: function () {
                axios.get
            },
            //获取反填项目信息
            Get: function () {
                axios.get("http://localhost:8086/GetInitiationById?Id=" +@Request.QueryString["Id"]).then(
                    (response) => {
                        console.log(response.data);
                        this.Code = response.data[0].Code;
                        this.Applicant = response.data[0].Applicant;
                        this.Pname = response.data[0].Pname;
                        this.Ptype = response.data[0].Ptype;
                        this.Requisitionid = response.data[0].Requisitionid;
                        this.Section = response.data[0].Section;
                        this.Department = response.data[0].Department;
                        this.Starts = response.data[0].Starts;
                        this.Starttime = response.data[0].Starttime;
                        this.Letter = response.data[0].Letter;
                        this.Limits = response.data[0].Limits;
                        //alert(response.data);
                    }
                )
            },

            Back: function () {
                location.href ='/Initiation/Index'
            },
            //同意时调用方法
            Agree: function () {
                var params = new URLSearchParams();
                params.append("Id", this.Id);
                params.append("State", $("select[name=State]").val());
               

                axios.post("http://localhost:8086/InitiationApprovals",params).then(
                    (response) => {
                        console.log(response);
                        if (response.data > 0) {
                            alert('审核完成！');
                            location.href = '/Initiation/Index';
                        }
                    }
                ).catch(function (response) {
                    alert(response);
                })
            },
            //驳回时调用方法
            DisAgree: function () {
                var params = new URLSearchParams();
                params.append("Id", this.Id);
                params.append("State", $("input[name=State]").val() + "已驳回");
                axios.post("http://localhost:8086/ReInitiationApprovals", params).then((response) => {
                    console.log(response);
                    alert("已驳回！");
                }).catch(function (data) {
                    alert(data)
                })

            },
        }
    })
</script>
