
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApproveOne</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
