
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApproveOne</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <h3>项目立项项目管理部主管审批</h3>
        <input type="hidden" name="Id"  v-model="Id" />
        <table class="table table-bordered" style="width:800px;">
            <tr>
                <td>
                    项目编码:&nbsp;&nbsp;
                    <input type="text" v-model="Code" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    申请人：&nbsp;&nbsp;
                    <input type="text" v-model="Applicant" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    项目名称：&nbsp;&nbsp;
                    <input type="text" v-model="Pname" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    项目类型：&nbsp;&nbsp;
                    <input type="text" v-model="Ptype" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    需求单号：&nbsp;&nbsp;
                    <input type="text" v-model="Requisitionid" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    发起部门：&nbsp;&nbsp;
                    <input type="text" v-model="Section" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    项目所属部门：&nbsp;&nbsp;
                    <input type="text" v-model="Department" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    是否为提前启动项目：&nbsp;&nbsp;
                    <input type="text" v-model="Starts" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    提前启动指令时：&nbsp;&nbsp;
                    <input type="text" v-model="Starttime" readonly="readonly" style="border:0px;" />
                </td>
                <td>
                    提前启动符号：&nbsp;&nbsp;
                    <input type="text" v-model="Letter" readonly="readonly" style="border:0px;" />
                </td>
            </tr>
            <tr>
                <td>
                    提前启动指令中费用额度：&nbsp;&nbsp;
                    <input type="text" v-model="Limits" readonly="readonly" style="border:0px;" />
                </td>
                <td id="Ck">
                    请指定业务负责人：&nbsp;&nbsp;
                    
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="返回" v-on:click="Back()" />
                </td>
                <td>
                    <input type="button" value="同意" v-on:click="Agree()" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="驳回" v-on:click="" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            Id:@Request.QueryString["Id"],
            Code: "",
            Applicant: "",
            Pname: "",
            Ptype: "",
            Requisitionid: "",
            Section:"",
            Department: "",
            Starts: "",
            Starttime: "",
            Letter: "",
            Limits: "",
            Principal:""

        },
        mounted: function () {
            this.Get();
            this.Peoples();
        },
        methods: {
            GetPrincipals: function () {
                axios.get
            },
            //获取反填项目信息
            Get: function () {
                axios.get("http://localhost:8086/GetInitiationById?Id=" +@Request.QueryString["Id"]).then(
                    (response) => {
                        console.log(response.data);
                        this.Code = response.data[0].Code;
                        this.Applicant = response.data[0].Applicant;
                        this.Pname = response.data[0].Pname;
                        this.Ptype = response.data[0].Ptype;
                        this.Requisitionid = response.data[0].Requisitionid;
                        this.Section = response.data[0].Section;
                        this.Department = response.data[0].Department;
                        this.Starts = response.data[0].Starts;
                        this.Starttime = response.data[0].Starttime;
                        this.Letter = response.data[0].Letter;
                        this.Limits = response.data[0].Limits;
                        //alert(response.data);
                    }
                )
            },
            //加载相关人员
            Peoples: function () {
                axios.get("http://localhost:8086/rbac/GetManagers").then((response) => {
                    console.log(response);
                    $(response.data).each(function (index, data) {
                        $("#Ck").append("<input type='checkbox' value='" + data.ManageName+"' name='Principal' />" + data.ManageName)
                    })
                }).catch(function (response) {
                    alert(response)
                });
            },
            Back: function () {
                location.href ='/Initiation/Index'
            },
            Agree: function () {
                var params = new URLSearchParams();
                params.append("Id", this.Id);
                var pri = [];
                $("input[name=Principal]:checked").each(function () {
                    pri.push($(this).val());
                })
                this.Principal = pri.join(',');
                params.append("Principal", pri.join(','));
                
                axios.post("http://localhost:8086/InitiationApprovals",params).then(
                    (response) => {
                        console.log(response);
                        alert(response);
                    }
                ).catch(function (response) {
                    alert(response);
                })
            }
        }
    })
</script>