
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form action="/" method="post" id="form1">


            <div>
                权限名称: <input  type="text" name="PermissionName" />
            </div>
            <div>
                权限路径: <input  type="text" name="Url" />
            </div>
            <div>
                <input type="button" value="添加" onclick="Add()" class="btn btn-info" />
                <input type="button" value="返回" onclick="f()" class="btn btn-info" />
            </div>
        </form>
    </div>
</body>
</html>
<script>
    $(function myfunction() {
        add();
        f();
    })
    function Add() {
        if ($("[name=PermissionName]").val().trim().length==0) {
            alert("权限名称不能为空")
            return;
        }
        if ($("[name=Url]").val().trim().trim().length == 0) {
            alert("权限路径不能为空")
            return;
        }
        $.ajax({
            url: "http://localhost:8086/rbac/PermissionAdd",
            type: "post",
            data: $("#form1").serialize(),
            success: function (data) {

                if (data > 0) {
                    location.href = "/Permission/Index";
                }
                else {
                    alert("添加失败,请重新添加");
                    return;
                }
            }
        })
    }
    function f() {
        location.href = "/Permission/Index";
    }
</script>
