@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div>
        <h3>Vue.js质检计划表添加页面</h3>
    </div>
    <div id="add">
        <table class="table table-hover">
            <tr>
                <td>权限名称: </td>
                <td><input type="text" name="PermissionName" /></td>
            </tr>
            <tr>
                <td>权限路径:</td>
                <td><input type="text" name="Url" /></td>
            </tr>
            <tr>
                <td><a href="javascript:;" v-on:click="AddQCPlan1(PermissionName,Url)">添加</a></td>
                <td><a href="#" onclick="location.href='Index'">显示</a></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#add",
        methods:
        {
            //保存
            AddQCPlan1: function (PermissionName, Url) {
                var params = new URLSearchParams();
                params.append('PermissionName', PermissionName);
                params.append('Url', Url);
                axios.post('http://localhost:8086/rbac/PermissionAdd', params).then(
                    (response) => {
                        alert(response)

                        alert("添加成功")


                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },

        },
        computed: {
        }

    });
</script>
