
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
<body>
    <div>
        <form action="/" method="post" id="form1">
            <div>
                <input type="hidden" name="Id" value="@Request.QueryString["Id"]" />
            </div>
            <div>
                权限名称: <input type="text" name="PermissionName" />
            </div>
            <div>
                权限路径: <input type="text" name="Url" />
            </div>
            <div>
                <input type="button" value="修改" onclick="Add()" />
                <input id="Button1" type="button" value="返回" />
            </div>
        </form>
    </div>
</body>
</html>
<script>
     $(function () {
        GetPowerById();
    })

     function GetPowerById() {
         $.ajax({
             url: "http://localhost:8086/rbac/permissionsID",
             type: "get",
             data: {
                 Id:"@Request.QueryString["Id"]"
             },
             success: function (data) {
                 $("input[name=PermissionName]").val(data[0].PermissionName);
                 $("input[name=Url]").val(data[0].Url);
             }
         })
    }
    function Add() {
        $.ajax({
            url: "http://localhost:8086/rbac/UpdatePermission",
            type: "post",
            data: $("#form1").serialize(),
            success: function (data) {

                if (data > 0) {
                    alert("修改成功!");
                }
                else {
                    alert("修改失败!");
                }
            }
        })
    }

</script>
