.
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddManage</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
</head>  
<body>
    <div id="add">
        <table class="table table-bordered" style="width:500px">
            <tr>
                <td>项目经理:</td>
                <td><input type="text" v-model="Projectmanager" /></td>
            </tr>
            <tr>
                <td>项目经理资格: </td>
                <td><input type="text" v-model="Qualification" /></td>
            </tr>
            <tr>
                <td>正副标识:</td>
                <td><input type="text" v-model="Identify" /></td>
            </tr>
            <tr>
                <td>任命类型:</td>
                <td><input type="text" v-model="Appointment" /></td>
            </tr>
            <tr>
                <td>立项拟定: </td>
                <td><input type="text" v-model="Projectplan" /></td>
            </tr>
            <tr>
                <td>任命情况:</td>
                <td><input type="text" v-model="Situation" /></td>
            </tr>
            <tr>
                <td>任命日期: </td>
                <td><input id="meeting" type="date" v-model="Appointmentdate" /></td>
            </tr>
            <tr>
                <td><a href="#" onclick="location.href='Index'">显示</a></td>
                <td><a href="javascript:;" v-on:click="AddQCPlan1(Projectmanager,Qualification,Identify,Appointment,Projectplan,Situation,Appointmentdate)">添加</a></td>

            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#add",
        data: {
            //Target: [],
            Projectmanager: "",
            Qualification: "",
            Identify: "",
            Appointment: "",
            Projectplan: "",
            Situation: "",
            Appointmentdate: "",

        },
        mounted() {
            //this.AddQCPlan1();
        },
        methods:
        {
            //保存
            AddQCPlan1: function (Projectmanager,Qualification,Identify,Appointment,Projectplan,Situation,Appointmentdate) {
                var params = new URLSearchParams();
                params.append('Projectmanager', Projectmanager);
                params.append('Qualification', Qualification);
                params.append('Identify', Identify);
                params.append('Appointment', Appointment);
                params.append('Projectplan', Projectplan);
                params.append('Situation', Situation);
                params.append('Appointmentdate', Appointmentdate);
                axios.post('http://localhost:8086/Managemessage/Add', params).then(
                    (response) => {
                        location.href='Index'
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
        },
        computed: {
        }
    });
</script>
