
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetSolutiontohangById</title>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script>
        $(function () {
            GetSolutiontohangId();
        })
        function GetSolutiontohangId() {
            $.ajax({
                url: "http://localhost:8086/GetSolutiontohangId",
                type: "get",
                data: {
                    Id:"@Request.QueryString["Id"]"
                },
                success: function (data) {
                    $("input[name=Code]").val(data[0].Code);
                    $("input[name=Applicant]").val(data[0].Applicant);
                    $("input[name=Pname]").val(data[0].Pname);
                    $("input[name=Pid]").val(data[0].Pid);
                    $("input[name=Createtime]").val(data[0].Createtime);
                    $("input[name=Pm]").val(data[0].Pm);
                    $("input[name=Department]").val(data[0].Department);
                    $("input[name=State]").val(data[0].State);
                    $("input[name=Solutiontohangcause]").val(data[0].Solutiontohangcause);
                    $("input[name=Processingstep]").val(data[0].Processingstep);
                    $("input[name=Handler]").val(data[0].Handler);

                }
            })
        }
    </script>
</head>
<body>
    <div>
        <form id="form1">
            <table 	class=" table table-hover">
                <tr><td><input type="hidden" name="Id" value="@Request.QueryString["Id"]" /></td></tr>
                <tr>
                    <td>编码:<input type="text" name="Code" /></td>
                    <td>申请人:<input type="text" name="Applicant" /></td>
                </tr>
                <tr>
                    <td>项目名称:<input type="text" name="Pname" /></td>
                    <td>项目编号:<input type="text" name="Pid" /></td>

                </tr>
                <tr>
                    <td>申请日期:<input type="text" name="Createtime" /></td>
                    <td>项目经理:<input type="text" name="Pm" /></td>
                </tr>
                <tr>
                    <td>所属部门:<input type="text" name="Department" /></td>
                    <td>项目状态:<input type="text" name="State" /></td>
                </tr>
                <tr>
                    <td>处理步骤:<input type="text" name="Processingstep" /></td>
                    <td>处理人:<input type="text" name="Handler" /></td>
                </tr>
                <tr>
                    <td><input type="button" value="返回" onclick="location.href='/Solutiontohang/Index'" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>

