

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <link href="~/BootstrapSouce/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div>
        <table class="table table-hover">
            <tr>
                <td>角色名称: </td>
                <td><input type="text" name="RoleName" /></td>
            </tr>
            <tr>
                <td>权限角色:</td>
                <td id="dl1"></td>
            </tr>
            <tr>
                <td><a href="javascript:;" id="add" >添加</a></td>
                <td><a href="#" onclick="location.href='Index'">显示</a></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        Show();
        $("#add").click(function () {
            var ids = [];
            $("input[name=PermissionName]:checked").each(function () {
                ids.push($(this).val())
            })
            var rightIDs = "";
            if (ids.length == 0) {
                alert('请至少选择一项');
                return;
            }
            rightIDs = ids.join(',');
            $.ajax({
                url: 'http://localhost:8086/rbac/RoleAdd',/*?RoleName=' + $("[name=RoleName]").val() + '&RightID=' + rightIDs*/
                type: 'POST',
                data: {
                    'RoleName': $("[name=RoleName]").val(),
                    'RightID': rightIDs
                },
                success: function (data) {

                    if (data > 0) {
                        location.href = "/Role/Index";
                    }
                    else {
                        alert("添加失败");
                    }
                }
            })
        })
    })
    /* 权限加载方法*/
    function Show() {
            $.ajax({
                url: 'http://localhost:8086/rbac/permissions',
                type: 'get',
                async: false,
                success: function (data) {
                    console.log(data);
                    $(data).each(function (index, data) {
                        var list = '<label class=""> <input type="checkbox"  name="PermissionName"  value="' + data.Id + '">' + data.PermissionName + '</label>&nbsp;&nbsp;&nbsp;&nbsp;'
                        $("#dl1").append(list);
                    })
                }
            })
        }
</script>